<div class="background">  
    <%= render :partial => 'partials/navbar' %>
    <p id="text_1">Tracking your favorite artists</p>
    <p id="text_2">so that you don't miss out on the next big show</p>
</div>

