---
http_interactions:
- request:
    method: get
    uri: http://api.bandsintown.com/events/search.json?api_version=2.0&app_id=Quickets&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8b61e3ddfe6d68e680fe85e9d46b988c"'
    body:
      encoding: UTF-8
      string: |
        [{"id":10039227,"url":"http://www.bandsintown.com/event/10039227?app_id=Quickets","datetime":"2015-06-23T11:00:00","ticket_url":"http://www.bandsintown.com/event/10039227/buy_tickets?app_id=Quickets\u0026came_from=233","artists":[{"name":"First Responders","url":"http://www.bandsintown.com/FirstResponders","mbid":null}],"venue":{"id":1487302,"url":"http://www.bandsintown.com/venue/1487302","name":"Toby Keith's I Love This Bar and Grill","city":"Denver","region":"CO","country":"United States","latitude":39.7826563,"longitude":-104.8926001},"ticket_status":"available","on_sale_datetime":null},
        {"id":10115817,"url":"http://www.bandsintown.com/event/10115817?app_id=Quickets","datetime":"2015-06-23T18:00:00","ticket_url":"http://www.bandsintown.com/event/10115817/buy_tickets?app_id=Quickets\u0026came_from=233","artists":[{"name":"Sophie Levine","url":"http://www.bandsintown.com/SophieLevine","mbid":null}],"venue":{"id":12658,"url":"http://www.bandsintown.com/venue/12658","name":"The Walnut Room","city":"Denver","region":"CO","country":"United States","latitude":39.764219,"[...]
