---
http_interactions:
- request:
    method: get
    uri: http://api.bandsintown.com/events/search.json?api_version=2.0&app_id=Quickets&location=Greenwood%20Village,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4c28f0f63a1aca05dd43b3e99111e573"'
    body:
      encoding: UTF-8
      string: |
        [{"id":10039153,"url":"http://www.bandsintown.com/event/10039153?app_id=Quickets","datetime":"2015-06-16T11:00:00","ticket_url":"http://www.bandsintown.com/event/10039153/buy_tickets?app_id=Quickets\u0026came_from=233","artists":[{"name":"First Responders","url":"http://www.bandsintown.com/FirstResponders","mbid":null}],"venue":{"id":1487302,"url":"http://www.bandsintown.com/venue/1487302","name":"Toby Keith's I Love This Bar and Grill","city":"Denver","region":"CO","country":"United States","latitude":39.7826563,"longitude":-104.8926001},"ticket_status":"available","on_sale_datetime":null},
        {"id":10007249,"url":"http://www.bandsintown.com/event/10007249?app_id=Quickets","datetime":"2015-06-16T17:30:00","ticket_url":"http://www.bandsintown.com/event/10007249/buy_tickets?app_id=Quickets\u0026came_from=233","artists":[{"name":"Gumbo le Funque","url":"http://www.bandsintown.com/GumboLeFunque","mbid":null}],"venue":{"id":1696777,"url":"http://www.bandsintown.com/venue/1696777","name":"Bayou Bob's","city":"Denver","region":"CO","country":"United States","latitude":39.74424[...]
