---
http_interactions:
- request:
    method: get
    uri: http://api.bandsintown.com/artists/Metric/events.json?api_version=2.0&app_id=Quickets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c77dcffaf7a90097fa917bafeb854136"'
    body:
      encoding: UTF-8
      string: |
        [{"id":9738458,"title":"Metric @ Allstate Arena in Rosemont, IL","datetime":"2015-06-15T19:00:00","formatted_datetime":"Monday, June 15, 2015 at 7:00PM","formatted_location":"Rosemont, IL","ticket_url":"http://www.bandsintown.com/event/9738458/buy_tickets?app_id=Quickets\u0026artist=Metric\u0026came_from=67","ticket_type":"Tickets","ticket_status":"available","on_sale_datetime":"2015-02-17T10:00:00","facebook_rsvp_url":"http://www.bandsintown.com/event/9738458?app_id=Quickets\u0026artist=Metric\u0026came_from=67","description":"Imagine Dragons with Metric Tickets","artists":[{"name":"Metric","mbid":"4449ccf6-c948-4d33-aa97-b6ad98ce4b5b","image_url":"https://s3.amazonaws.com/bit-photos/large/2807111.jpeg","thumb_url":"https://s3.amazonaws.com/bit-photos/thumb/2807111.jpeg","facebook_tour_dates_url":"http://www.bandsintown.com/Metric/facebookapp?came_from=67","facebook_page_url":"https://www.facebook.com/metric","tracker_count":366491,"url":"Metric","website":"http://www.ilovemetric.com"}],"venue":{"name":"Allstate Arena","city":"Rosemont","region":"IL","country":"United States","latitude":42.005742,"longitude":-87.884866}},
        {"id":10007571,"title":"Metric @ KFC Yum! Center in Louisville, KY","datetime":"2015-06-16T19:30:00","formatted_datetime":"Tuesday, June 16, 2015 at 7:30PM","formatted_location":"Louisville, KY","ticket_url":"http://www.bandsintown.com/event/10007571/buy_tickets?app_id=Quickets\u0026artist=Metric\u0026came_from=67","ticket_type":"Tickets","ticket_status":"available","on_sale_datetime":"2015-02-17T15:00:00","facebook_rsvp_url":"http://www.bandsintown.com/event/10007571?app_i[...]
