---
http_interactions:
- request:
    method: get
    uri: http://api.bandsintown.com/events/search.json?api_version=2.0&app_id=Quickets&location=Los%20Angeles,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1ae7468f3c9a37dc39f1b510c878ef68"'
    body:
      encoding: UTF-8
      string: |
        [{"id":9857456,"url":"http://www.bandsintown.com/event/9857456?app_id=Quickets","datetime":"2015-06-16T00:01:00","ticket_url":"http://www.bandsintown.com/event/9857456/buy_tickets?app_id=Quickets\u0026came_from=233","artists":[{"name":"Adam Lambert","url":"http://www.bandsintown.com/AdamLambert","mbid":"e942594a-91cc-427a-8beb-6815c28e9254"}],"venue":{"id":2770778,"url":"http://www.bandsintown.com/venue/2770778","name":"The Original High","city":"Los Angeles","region":"CA","country":"United States","latitude":34.0522222,"longitude":-118.2427778},"ticket_status":"unavailable","on_sale_datetime":null},
        {"id":10026608,"url":"http://www.bandsintown.com/event/10026608?app_id=Quickets","datetime":"2015-06-16T09:30:00","ticket_url":"http://www.bandsintown.com/event/10026608/buy_tickets?app_id=Quickets\u0026came_from=233","artists":[{"name":"Joseph Peck","url":"http://www.bandsintown.com/JosephPeck","mbid":null}],"venue":{"id":1418427,"url":"http://www.bandsintown.com/venue/1418427","name":"Topanga Community Club","city":"Topanga","region":"CA","country":"United States","latitude":34.[...]
