---
http_interactions:
- request:
    method: get
    uri: http://api.bandsintown.com/events/search.json?api_version=2.0&app_id=Quickets&location=Portland
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a59b654c292a8aabdd963b2d4e7a9e0b"'
    body:
      encoding: UTF-8
      string: |
        [{"id":9908325,"url":"http://www.bandsintown.com/event/9908325?app_id=Quickets","datetime":"2015-06-16T18:00:00","ticket_url":"http://www.bandsintown.com/event/9908325/buy_tickets?app_id=Quickets\u0026came_from=233","artists":[{"name":"Mary Flower","url":"http://www.bandsintown.com/MaryFlower","mbid":"ec0961c7-743c-42f3-938f-655d73c8fb1d"}],"venue":{"id":2172126,"url":"http://www.bandsintown.com/venue/2172126","name":"Grant House","city":"Vancouver","region":"WA","country":"United States","latitude":45.628447,"longitude":-122.660363},"ticket_status":"unavailable","on_sale_datetime":null},
        {"id":9592449,"url":"http://www.bandsintown.com/event/9592449?app_id=Quickets","datetime":"2015-06-16T18:00:00","ticket_url":"http://www.bandsintown.com/event/9592449/buy_tickets?app_id=Quickets\u0026came_from=233","artists":[{"name":"Ingrid Michaelson","url":"http://www.bandsintown.com/IngridMichaelson","mbid":"1fc494a1-9109-4081-a455-2d05bea9d2bf"}],"venue":{"id":576772,"url":"http://www.bandsintown.com/venue/576772","name":"McMenamins Edgefield","city":"Troutdale","region":"OR"[...]
