<div class='landing'>
  <div class="welcome">
    <h1 color="color: white" style="color: black";>Welcome to Quickets!</h1><br>
    <a href="#" id="google-login">
      <%= link_to "Authenticate with Google!", '/auth/google_oauth2' %>
    </a>
    <br><br>
    <h4 color="color: black" style="color: black";>Receive alerts on concert tickets so that you don't miss out on the next biggest event!</h4>
  </div>
</div>